# Production Mode : release
# debug Mode : debug
export GIN_MODE=release
export PORT=8000

# ElasticSearch
export ELS_HOST=http://IP:9200
export ELS_USER=
export ELS_PASSWORD=
export ELS_INDEX=

# Redis
export REDIS_HOST=
export REDIS_PORT=6379
export REDIS_DB=0
export REDIS_PASSWORD=
export REDIS_KEY=