{
    "schemes": [
        "http",
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "WhatIssueNow Service API",
        "title": "WhatIssueNow API",
        "contact": {
            "name": "Jintae, kim",
            "url": "http://whatissuenow.com",
            "email": "6199@outlook.kr"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.1"
    },
    "host": "api.whatissuenow.com",
    "basePath": "/api/1",
    "paths": {
        "/list": {
            "get": {
                "description": "현재시간 기준 3시간 전까지의 상위 이슈 단어 30개를 반환한다",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WhatIssueNow"
                ],
                "summary": "이슈 단어목록 API",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Word list count by count",
                        "name": "count",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Word Filtering by f",
                        "name": "f",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/List"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/related/list/{word}": {
            "get": {
                "description": "특정 단어의 관련된 최근 트윗 목록 100개를 반환한다",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WhatIssueNow"
                ],
                "summary": "특정 단어의 최근 트윗 목록 API",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Word",
                        "name": "word",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/RelatedTweets"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/related/w/{word}": {
            "get": {
                "description": "특정 단어와 관련된 다른 단어들을 반환한다",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WhatIssueNow"
                ],
                "summary": "특정 단어와 연관된 단어 목록 API",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Word",
                        "name": "word",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WordsResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/stopwords": {
            "get": {
                "description": "ElasticSearch 집계시에 제외되는 불용어 목록을 반환한다",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "StopWords"
                ],
                "summary": "불용어 단어목록 API",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/tag/count": {
            "get": {
                "description": "현재시간 기준 3시간 전까지의 태그별 단어 수를 반환한다",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WhatIssueNow"
                ],
                "summary": "태그별 단어 수 API",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TagCount"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/tag/w/{word}": {
            "get": {
                "description": "특정 단어의 발생지(태그) 점유율을 반환한다",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WhatIssueNow"
                ],
                "summary": "단어별 태그 점유율 API",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Word",
                        "name": "word",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Tag"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/word/count": {
            "get": {
                "description": "현재시간 기준 7일전까지의 수집한 단어의 수를 일별로 반환한다",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WhatIssueNow"
                ],
                "summary": "일주일간 수집한 단어의 수 API",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/WordCount"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/wordcloud": {
            "get": {
                "description": "현재시간 기준 3시간 전까지의 상위 이슈 단어 60개를 반환한다",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WhatIssueNow"
                ],
                "summary": "워드 클라우드를 위한 이슈 단어목록 API",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Word list count by count",
                        "name": "count",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Word Filtering by f",
                        "name": "f",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "워드클라우드 단어 개수(최대 100개)",
                        "name": "count",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/WordCloud"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Error": {
            "type": "object",
            "properties": {
                "error": {
                    "type": "string"
                }
            }
        },
        "List": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer"
                },
                "word": {
                    "type": "string"
                }
            }
        },
        "RelatedLinks": {
            "type": "object",
            "properties": {
                "sid": {
                    "type": "string"
                },
                "tid": {
                    "type": "string"
                }
            }
        },
        "RelatedNodes": {
            "type": "object",
            "properties": {
                "_size": {
                    "type": "number"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "RelatedTweet": {
            "type": "object",
            "properties": {
                "createdAt": {
                    "type": "string"
                },
                "text": {
                    "type": "string"
                }
            }
        },
        "RelatedTweets": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "message": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/RelatedTweet"
                    }
                }
            }
        },
        "Tag": {
            "type": "object",
            "properties": {
                "percent": {
                    "type": "number"
                },
                "tag": {
                    "type": "string"
                }
            }
        },
        "TagCount": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer"
                },
                "tag": {
                    "type": "string"
                }
            }
        },
        "WordCloud": {
            "type": "object",
            "properties": {
                "words": {
                    "type": "array",
                    "items": {
                        "type": "object"
                    }
                }
            }
        },
        "WordCount": {
            "type": "object",
            "properties": {
                "article": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "community": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "date": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "sns": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "total": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                }
            }
        },
        "WordsResponse": {
            "type": "object",
            "properties": {
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/RelatedLinks"
                    }
                },
                "nodes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/RelatedNodes"
                    }
                },
                "rank": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "number"
                    }
                }
            }
        }
    }
}